body {
    margin: 0px;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

header {
    box-shadow: 0px 1px 5px black;
    min-height: 50px;
    background-color: rgb(255, 25, 71);
    border-radius: 0px 0px 20px 20px;
}

h1 {
    padding: 20px 20px 20px 50px;
    margin: 0px;
    font-family: "Roboto", serif;
    font-weight: 1000;
    font-style: normal;
}

main {
    margin: 0px 5%;
}

section {
    box-shadow: 0px 0px 5px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: fit-content;
    min-height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 3px rgb(255, 208, 0) dashed;
}

.horizontal {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.vertical img{
    margin: 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.horizontal textarea {
    width: 300px;
    resize: none;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
}

.horizontal input {
    margin: 5px;
    border-radius: 20px;
    padding: 5px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

section .del_btn_sec {
    margin: 5px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    background-color: rgb(255, 25, 71);
}

.btn_sec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    min-width: 100px;
    padding: 10px;
    border: 2px orange solid;
    border-radius: 20px;
    background-color: white;
}